body{
    padding: 0 50px;
    .worp{
       
        .hande{
            min-width: 1220px;
            padding: 0;
            .ant-col-4{
                &:hover{
                    border-bottom:3px solid slategray;
                    color: aqua;
                    background:salmon;
                    background-size: 100%;
                }
                border-left:1px solid black; 
                border-right:1px solid black;
                text-align: center;
                font-size:22px; 
                background: burlywood;
                flex-grow:1;
            }
        }
    }
}